body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.clear {
    clear: both;
}

#menu-bar-container {
    border-top: 1px solid #cccccc;
    background-color: #5154ff;
    width: 100%;
    height: 100px;
}

#menu-bar {
    width: 1000px;
    margin:0 auto;
}

h1 {
    padding: 0;
    margin: 0;
    color: white;
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    float: left;
}

#menu-bar-top-right {
    float: right;
    color: white;
    margin-top: 12px;
    height: 30px;
}

#menu-bar-top-right a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    position: relative;
}

#menu-bar-top-right a:hover {
    text-decoration: underline;
}

#menu-bar-top-right img {
    height: 40px;
    position: relative;
}

#menu-bar-2-container {
    background-color: cornflowerblue;
    width: 100%;
    margin-top: 15px;
}

#menu-bar-2 {
    width: 1000px;
    margin: 0 auto;
    height: 30px;
}

#menu-bar-2 a {
    color: white;
    text-decoration: none;
    margin-top: 5px;
    padding: 0 10px;
    border-right: 1px solid #bb4545;
    font-size: 18px;
    position: relative;
    top: 5px;
}

#menu-bar-2 a:hover {
    text-decoration: underline;
}

#page-container {
    width: 1000px;
    margin: 0 auto;
}

h2 {
    font-weight: normal;
    margin-top: 20px;
    font-size: 20px;
    border-bottom: 4px solid #a91717;
    width: 110px;
}

h3 a {
    color: black;
    font-size: 30px;
    text-decoration: none;
}

h3 a:hover {
    color:#1167a8;
}

#article-summary {
    color: #5a5a5a;
    width: 350px;
}

#main-article img {
    height: 300px;
    margin-left: 450px;
    top: -20px;
}

#article-summary a {
    text-decoration: none;
    color: #a91717;
}

#article-summary a:hover {
    color: #1167a8;
}

#article-container {
    float: left;
    width: 430px;
}

header {
    display: block;
    background-color: orange;
}

footer {
    display: block;
    background-color: #5154ff;
    text-align: right;
}

#camera{
    margin: 0px auto;
    width: 500px;
    height: 375px;
    border: 1-px #333 solid;
}

#cameraElement{
    width: 500px;
    height: 375px;
    background-color: #666;
}